<%- include("./partials/head") %> 

<body class="home">
    <!-- header -->
    <%- include("./partials/header") %> 
    <!-- main -->
    <main class="main-home">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" style="background-image: url('/images/banner-img/Rectangle\ 172.png')">
                <!-- imagen que va como background-image -->
              </div>

              <div class="carousel-item" style="background-image: url('/images/banner-img/banner-1.jpg')">
                <!-- imagen que va como background-image -->
              </div>
              <div class="carousel-item" style="background-image: url('/images/banner-img/banner-3.png')">
                <!-- imagen que va como background-image -->
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <!-- --------------------------------- -->
        <!-- seccion de categorias principlaes -->
        <!-- --------------------------------- -->
        <section class="main-category">
            <h3 class="titulo-categorias">categorías principales</h3>

            <section class="container-catalogos">
                <article class="catalogo">
                    <a href="/juegos-de-previa"><img src="/images/catalogo-1.png" alt=""></a>
                </article>

                <article class="catalogo">
                    <a href="/juegos-de-mesa"><img src="/images/catalogo-2.png" alt=""></a>
                </article>

                <article class="catalogo">
                    <a href="/juegos-de-rol"><img src="/images/catalogo-3.png" alt=""></a>
                </article>
            </section>

            <!-- ------------------------------- -->
            <!-- seccion de productos destacados -->
            <!-- ------------------------------- -->

            <div class="container-titulo-destacados">
                <h3 class="destacados">productos destacados</h3>
            </div>

            <section class="conatiner-product">
                <% products.forEach(product => { %>
                    <article>

                        <div class="conatiner-inside-article">
                            <a href="/productDetail" class="container-img"><img class="img-product" src="/images/productos/<%= product.img %>" alt=""></a>
    
                            <div class="container-name-precio">
                                <h3 class="name-product"><%= product.name %></h3>
                                <h3 class="precio">$<%= product.price %></h3>
                            </div>
    
                            <div class="container-option-product">
                                <div class="option-detalle">
                                    <a href="/productDetail"><i class="far fa-eye"></i>
                                        <p>detalles</p>
                                    </a>
                                </div>
                                <div class="option-cart-shop">
                                    <a href="#"><i class="fas fa-shopping-cart"></i>
                                        <p>agregar</p>
                                    </a>
                                </div>
                            </div>
    
                        </div>
    
                    </article>
                <% }) %>

            </section>

            <div class="botton-full-productos">
                <h2>todavia no te decides por un juego?</h2>
                <div class="more-product-p">
                    <p>podés ver más variedad de juegos y seguir divirtiéndote!</p>
                </div>
                <a href="/list/products">Ver todos los productos</a>
            </div>

            <!-- ------------------------------- -->
            <!-- seccion de productos en ofertas -->
            <!-- ------------------------------- -->

            <section class="container-ofertas">
                <div class="container-titulo-oferta">
                    <h3 class="title-oferta">Productos en oferta</h3>
                </div>
                <div class="glider-contain">
                    <div class="glider">
                        <% for( let index = 0; index < productsOfert.length -1; index++) { %>
                                <div class="column">
                                    <article class="product-oferta">
                                            <div class="container-img-oferta">
                                            <img src="/images/productos/<%= productsOfert[index].img %>" alt="">
                                        </div>
                                        <div class="detail-oferta">
                                            <h4><%= productsOfert[index].name %></h4>
                                            <div class="container-precios">
                                            <p class="new-oferta">$<%= productsOfert[index].price %></p>
                                            <p class="precio-old">20% OFF</p>
                                            </div> 
                                            <a href="/productDetail" class="botn-comprar">comprar</a>
                                        </div>
                                        
                                    </article>
                                    <article class="product-oferta">
                                        <div class="container-img-oferta">
                                        <img src="/images/productos/<%= productsOfert[index +1].img %>" alt="">
                                    </div>
                                    <div class="detail-oferta">
                                        <h4><%= productsOfert[index +1].name %></h4>
                                        <div class="container-precios">
                                        <p class="new-oferta">$<%= productsOfert[index +1].price %></p>
                                        <p class="precio-old">20% OFF</p>
                                        </div> 
                                        <a href="/productDetail" class="botn-comprar">comprar</a>
                                    </div>
                                
                                    </article>
                                </div>
                         
                        <% } %>
                    </div>
                  
                    <button aria-label="Previous" class="glider-prev"><i class="fas fa-chevron-left"></i></button>
                    <button aria-label="Next" class="glider-next"><i class="fas fa-chevron-right"></i></button>
                    <div role="tablist" class="dots"></div>
                  </div>
                   
                    
                </div>
               
            </section>

    </main>
    <%- include("./partials/footer") %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="../../javascripts/glider.js"></script>
    <script src="../../javascripts/carrusel.js"></script>
</body>
    
</html>