<%- include("./partials/head") %> 
<body class="product-detail">
    <!-- header -->
    <%- include("./partials/header") %> 

    <main class="main-products">
        <div class="breadcrumbs">
            <a class="breadcrumbs-inicio" href="/" title="La cueva del dragón">Inicio</a>
            <span class="breadcrumb-divider">/</span>
            <a class="breadcrumbs-juego-mesa" href="/" title="Juegos de mesa"><%= productDetail.category%> </a>
            <span class="breadcrumb-divider">/</span>
            <span class="breadcrumbs-activo"><%= productDetail.name %></span>   
    </div>
    <section class="product-name">
        <h1><%= productDetail.name %></h1>
        <div class= product-container-photos> 
            <div class=product-photo-big>
                <img class="product-photo-big__img" src="/images/productos/<%= productDetail.img %>" alt="">
                 
            </div> 
            <div>
                <div class="glider-contain">
                    <div class="glider">
                      <div><img class="product-photo-small__img" src="/images/detail-product/Juego-2.jpg" alt=""></div>
                      <div> <img class="product-photo-small__img" src="/images/detail-product/Juego-3.jpg" alt=""></div>
                      <div><img class="product-photo-small__img" src="/images/detail-product/Juego-4.jpg" alt=""> </div>
                    </div>
                  
                    <button aria-label="Previous" class="glider-prev">«</button>
                    <button aria-label="Next" class="glider-next">»</button>
                    <div role="tablist" class="dots"></div>
                  </div>
            </div>
            
        </div>
        <div class="product-info">
            <!-- <div class="more"><i class="fas fa-chevron-left"></i></div> -->
            <span class="price">$10.000</span>
            <!-- <div class="more"><i class="fas fa-chevron-right"></i></div> -->
        </div>
        
            
        <div class="payment">
        <a href="/mediosPago"><img src="/images/cards/visa@2x.png" alt="Visa"></a>
        <a href="/mediosPago"><img src="/images/cards/mastercard@2x.png" alt="Mastercard"></a>
        <a href="/mediosPago"><img src="/images/cards/amex@2x.png" alt="Amex"></a>
        <a href="/mediosPago"><img src="/images/cards/credit-card@2x.png" alt="Tarjeta"></a>
        </div>
        <div class="payment-link">
            <a href="">Ver medios de pago</a>
        </div>
        <div class="button">
            <input type="submit" value="Agregar al carrito +">
        </div>
        <div class="envio">
            <p>
                <i class="fas fa-truck"></i>
                <span>Medios de envío </span>
            </p>
            <div class="envio__datos">
                <input class="codigo-postal" type="tel" name="zipcode" placeholder="Tu código postal" value=""
            aria-label="Tu código postal">
            <button class="calcular" aria-label="Calcular envío">
                <span>Calcular</span>
            </button>
            
            </div>
            <div>
                <a class="cp-link" href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank">No sé mi código postal</a>
            </div> 
            
        </div>  
        </article>     
        <div class="info">
            <p>Detalles</p>
            <table style="height: 744px; width: 100%;">
                <tbody>
                <tr style="height: 23px;">
                <td style="width: 116.983px; height: 23px;">&nbsp;Autor</td>
                <td style="width: 169.017px; height: 23px;">&nbsp;Alessio Cavatore, Jack&nbsp;Caesar&nbsp;</td>
                </tr>
                <tr style="height: 33px;">
                <td style="width: 116.983px; height: 33px;">
                <p>&nbsp;Mec&aacute;nica</p>
                </td>
                <td style="width: 169.017px; height: 33px;">&nbsp;Tienta la suerte</td>
                </tr>
                <tr style="height: 25px;">
                <td style="width: 116.983px; height: 25px;">&nbsp;Tem&aacute;tica</td>
                <td style="width: 169.017px; height: 25px;">&nbsp;TV/Series/Cine</td>
                </tr>
                <tr style="height: 23px;">
                <td style="width: 116.983px; height: 23px;">&nbsp;N&uacute;m. jugadores</td>
                <td style="width: 169.017px; height: 23px;">&nbsp;2, 3, 4, 5, 6</td>
                </tr>
                <tr style="height: 23px;">
                <td style="width: 116.983px; height: 23px;">&nbsp;Tiempo de juego</td>
                <td style="width: 169.017px; height: 23px;">&nbsp;15 mins.</td>
                </tr>
                <tr style="height: 23px;">
                <td style="width: 116.983px; height: 23px;">&nbsp;Medidas</td>
                <td style="width: 169.017px; height: 23px;">&nbsp;310 x 170 x 50 mm</td>
                </tr>
                <tr style="height: 23px;">
                <td style="width: 116.983px; height: 23px;">&nbsp;Complejidad</td>
                <td style="width: 169.017px; height: 23px;">&nbsp;Media</td>
                </tr>
                <tr style="height: 23px;">
                <td style="width: 116.983px; height: 23px;">&nbsp;Editorial</td>
                <td style="width: 169.017px; height: 23px;">&nbsp;Gen X Games</td>
                </tr>
                <tr style="height: 23px;">
                <td style="width: 116.983px; height: 23px;">&nbsp;Contenido</td>
                <td style="width: 169.017px; height: 23px;">
                <p>-7 miniaturas coleccionables de 32mm: Connor, Ramirez, Kastagir, Fasil, Naminaga, Talia y el Kurgan.</p>
                <p>-1 libro de Reglas.</p>
                <p>-1 tablero 40x15.</p>
                <p>-10 dados poli&eacute;dricos.</p>
                <p>-7 fichas de personaje.</p>
                <p>-Fichas de juego.</p>
                <p>-110 cartas.</p>
                </td>
                </tr>
                <tr style="height: 23px;">
                <td style="width: 116.983px; height: 23px;">&nbsp;Idioma</td>
                <td style="width: 169.017px; height: 23px;">&nbsp;Espa&ntilde;ol</td>
                </tr>
                </tbody>
                </table>
                <p>&nbsp;</p>
                <div class="more-products"><p>También te pueden gustar</p>
                </div>     
        <section class="productos-relacionados">
            <div class="more"><i class="fas fa-chevron-left"></i></div>
            <% if (products.category === productDetail.category) { %>
                <% products.forEach(product => { %>
                    <article class="product-1">
                        <img src="/images/productos/<%= product.img %>" alt="">
                        <p><%= product.name %> </p>
                        <p>$<%= product.price %> </p>
                        <form method="get" action="/juegos-mesa.html">
                            <button type="submit">Ver más
                           </form>                      
                    </article>
                <% }) %>     
            <% } %>
            
       </section>
    </main>
    <%- include("./partials/footer") %> 
    
</body>
</html>






