<%- include("./partials/head") %> 
<body class= "profile">
<%- include("./partials/header") %> 
<main class="user-info">
    <div class="saludo">
        <p>¡Hola <%= locals.userLogin.name %>!</p>
    </div>
    <div class="user-avatar">
        <a href="/"> <img src="/images/users/<%= locals.userLogin.img %>"></a>
    </div>
    <div class="user-email">
       <p>Mi e-mail: <%= locals.userLogin.email %></p>
    </div>
    <div class="mensaje">
        <p>¡Hacé tu primera compra!</p>
        <a href="/">Ver productos</a>

    </div>
</main>
    <%- include("./partials/footer") %> 
</body>
</html>