<%- include("./partials/head") %> 
<body class= "profileEdit">
<%- include("./partials/header") %> 
    <main class="profileEdit">
        <h2 class="titulo">Editar cuenta</h2> 
        <form class="formProfile" action="/user/profileUpdate?_method=PUT" method="POST" enctype="multipart/form-data"> 
            <article class="formProfile__contain">

                <div class="box-forms">
                    <label class="img-perfil" for="imgUser"><div class="imgHover"><p class="imgHover__p">selecionar Imagen</p></div><img class="box-forms__img" id="avatar-preview" src="/images/users/<%= user.avatars.file %> " alt=""></label>
                    <input class="img-input" type="file" name="imgUser" id="imgUser">
                </div>

                <div class="box-forms">
                    <input type="text" name="name" id="name" placeholder="Nuevo nombre" value=" <%= locals.userLogin.name %> ">
                    <span class="text-danger small"><%= locals.errors && errors.name ? errors.name.msg : null %> </span>
                    <span id="nameErrors"></span>
                </div>
                
    
                <div class="box-forms">
                    <input type="email" name="email" id="email" placeholder="Nuevo email" value="">
                    <span class="text-danger small"><%= locals.errors && errors.email ? errors.email.msg : null %> </span>
                    <span id="emailErrors"></span>
                </div>
                
    
                <div class="box-forms">
                    <input type="password" name="password" id="password" placeholder="contraseña nueva" value="">
                    <span class="text-danger small"><%= locals.errors && errors.password ? errors.password.msg : null %> </span>
                    <span id="passwordErrors"></span>
    
                </div>
                <div class="box-forms">
                    <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="confirmar contraseña" value="">
                    <span class="text-danger small"><%= locals.errors && errors.passwordConfirm ? errors.passwordConfirm.msg : null %> </span>
                    <span id="passwordConfirmErrors"></span>
    
                </div>
    
                <div class="box-buttons">
                    <button type="submit">Editar</button>
                </div>
    
            </article>
            
        </form>
    </main>


<%- include("./partials/footer") %>    
<script src="/javascripts/profile.js"></script>
</body>

</html>
