
<%- include("../partials/head") %> 

<body class="vista-register">
    <main class="register">
        <h2>Crear cuenta</h2> 
        <form action="" method="POST"> 
            <div class="option-register"> <!-- container de opciones alternativas de registro -->
                <a href=""><i class="fab fa-facebook"></i> Ingresá con Facebook </a>
                <a href=""> <i class="fab fa-google"></i> Ingresá con Google</a>
                <span>o</span>
            </div>
            <div class="box-form">
                <input type="text" name="name" placeholder="Nombre y Apellido" value="<%= locals.old && old.name ? old.name : null  %>">
                <span class="text-danger small"><%= locals.errors && errors.name ? errors.name.msg : null %> </span>
            </div>

            <div class="box-form">
                <input type="email" name="email" id="email" placeholder="Correo electrónico" value="<%= locals.old && old.name ? old.name : null  %>">
                <span class="text-danger small"><%= locals.errors && errors.email ? errors.email.msg : null %> </span>
            </div>

            <div class="box-form">
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <span class="text-danger small"><%= locals.errors && errors.password ? errors.password.msg : null %> </span>
            </div>

            <div class="box-form">
                <input type="password" name="passwordConfirm" id="password-confirm" placeholder="Confirmar contraseña">
                <span class="text-danger small"><%= locals.errors && errors.passwordConfirm ? errors.passwordConfirm.msg : null %> </span>
            </div>

            <div class="box-form condiciones">
                <label for="conditions">Recordar</label>
                <input type="checkbox">
            </div>

            <div class="box-form condiciones">
                <label for="conditions">Acepto términos y condiciones</label>
                <input type="checkbox">
            </div>

            <div class="box-form promociones">
                <label name="terminos" for="promotions">Quiero recibir info de ofertas, promociones y nuevos lanzamientos</label>
                <input type="checkbox">
                <span class="text-danger small"><%= locals.errors && errors.terminos ? errors.terminos.msg : null %> </span>
            </div>
            <br>

            <div class="box-button">
                <button type="submit">Crear cuenta</button>
            </div>

        </form>
    </main>
</body>
</html>