<%- include("../partials/head",{title: "admin"} ) %> 
<body class="index-admin">
    <%- include("./partials/header") %> 
    <div style="max-width: 100vw;">
    <table class="admin">
        <thead>
            <tr>
                <th>ID</th>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Oferta</th>
                <th>Opciones</th>
            </tr>
        </thead>
            <tbody>
                <% products.forEach(product => { %>
                    <tr>
                        <td><%= product.id %> </td>
                        <td class="imgProduct-container"><img class="imgProduct-container__img" src="/images/productos/<%= product.img %>" alt="imagen producto"></td>
                        <td><%= product.name %> </td>
                        <td><%= product.price %> </td>
                        <td><%= product.category %> </td>
                        <td><%= product.sale %> </td> 
                        <td class="container-form">
                            <form class="container-delete" action="/product/delete/<%= product.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="container-form__delete"><a href="#"><i class="far fa-trash-alt"></i></i></a></button>
                            </form>
                            <button class="container-form__edit"><a href="/product/edit/<%= product.id %>"><i class="far fa-edit"></i></a></button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
    </table>
    </div>
    <%- include("../partials/scripts") %> 
</body>
</html>
