<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/778560f052.js" crossorigin="anonymous"></script>
</head>
<header class="tabla">
    <h3>Administración</h3>
</header>
<body class="index">
    <button><a href="">Crear Producto</a></button>
    <table>
        <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Oferta</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
            <% products.forEach(product => { %>
              <tr>
            <td><%= product.img %> </td>
            <td><%= product.name %> </td>
            <td><%= product.price %> </td>
            <td><%= product.category %> </td>
            <td><%= product.sale %> </td>
            <td><button><a href=""><i class="far fa-edit"></i></a></button><button><a href=""><i class="far fa-trash-alt"></i></i></a></button></td>
        </tr>
            <% }) %>
       
        <!-- <tr>
            <td>The</td>
            <td>Tick</td>
            <td>Crimefighter Sorta</td>
        </tr> -->
        </tbody>
    </table>
</body>
</html>
