<%- include("../partials/head") %> 
<body class="index-admin">
    <%- include("./partials/header") %> 
    <table class="admin">
        <thead>
        <tr>
            <th>ID</th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Oferta</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
            <% products.forEach(product => { %>
              <tr>
            <td><%= product.id %> </td>
            <td class="imgProduct-container"><img class="imgProduct-container__img" src="/images/productos/<%= product.img %>" alt="imagen producto"></td>
            <td><%= product.name %> </td>
            <td><%= product.price %> </td>
            <td><%= product.category %> </td>
            <td><%= product.sale %> </td> 
            <td class="container-form">
                <form action="/delete/product/<%= product.id %>?_method=DELETE" method="POST">
                    <button type="submit" class="container-form__delete"><a href="#"><i class="far fa-trash-alt"></i></i></a></button>
                </form>
                <form action="">
                    <button><a href=""><i class="far fa-edit"></i></a></button>
                </form>
            </td>
        </tr>
            <% }) %>

            <!-- <a href="/products/edit/" class="btn btn-sm btn-success" style="width: 30px;"><i class="fas fa-edit"></i></a> -->
       
        <!-- <tr>
            <td>The</td>
            <td>Tick</td>
            <td>Crimefighter Sorta</td>
        </tr> -->
        </tbody>
    </table>
    <%- include("../partials/scripts") %> 
</body>
</html>
