<%- include("../partials/head") %> 
<body class="index">
    <%- include("./partials/header") %> 
    <table>
        <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Oferta</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
            <% products.forEach(product => { %>
              <tr>
            <td><%= product.img %> </td>
            <td><%= product.name %> </td>
            <td><%= product.price %> </td>
            <td><%= product.category %> </td>
            <td><%= product.sale %> </td>
            
            <td class="container-form">
                <form action="/delete/product/<%= product.id %>?_method=DELETE" method="POST">
                    <button type="submit"><a href="#"><i class="far fa-trash-alt"></i></i></a></button>
                </form>
                <form action="">
                    <button><a href=""><i class="far fa-edit"></i></a></button>
                </form>
            </td>
        </tr>
            <% }) %>
       
        <!-- <tr>
            <td>The</td>
            <td>Tick</td>
            <td>Crimefighter Sorta</td>
        </tr> -->
        </tbody>
    </table>
    <%- include("../partials/scripts") %> 
</body>
</html>
