<%- include("../partials/head",{title: "admin"} ) %> 
<body class="index-admin">
    <%- include("./partials/header") %> 
    <div style="max-width: 100vw;">
    <table class="admin">
        <thead>
            <tr>
                <th style="max-width: 14%;">ID</th>
                <th style="max-width: 14%;">Imagen</th>
                <th style="max-width: 14%;">Nombre</th>
                <th style="max-width: 14%;">Precio</th>
                <th style="max-width: 14%;">Categoria</th>
                <th style="max-width: 14%;">Oferta</th>
                <th style="max-width: 14%;">Opciones</th>
            </tr>
        </thead>
            <tbody>
                <% products.forEach(product => { %>
                    <tr>
                        <td style="max-width: 14%;"><%= product.id %> </td>
                        <td style="max-width: 14%;" class="imgProduct-container"><img class="imgProduct-container__img" src="/images/productos/<%= product.img %>" alt="imagen producto"></td>
                        <td style="max-width: 14%;"><%= product.name %> </td>
                        <td style="max-width: 14%;"><%= product.price %> </td>
                        <td style="max-width: 14%;"><%= product.category %> </td>
                        <td style="max-width: 14%;"><%= product.sale %> </td> 
                        <td style="max-width: 14%;" class="container-form">
                            <form class="container-delete" action="/product/delete/<%= product.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="container-form__delete"><a href="#"><i class="far fa-trash-alt"></i></i></a></button>
                            </form>
                            <button class="container-form__edit"><a href="/product/edit/<%= product.id %>"><i class="far fa-edit"></i></a></button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
    </table>
    </div>
    <%- include("../partials/scripts") %> 
</body>
</html>
