<%- include("../partials/head", {title: "Crear producto"}) %> 

<body class="admin-creation">
    <%- include("./partials/header") %> 
    <main class="admin__container">
        <h2 class="admin__title">crear producto</h2> 

        <div class="contain-form-error">
            <span class="contain-form-error__error" id="form-error"></span>
        </div>

        <form class="form-admin" id="form-create" action="" method="POST" enctype="multipart/form-data"> 
           
            <div class="form-admin__container">
                <div class="form-admin__box">
                    <input class="form-admin__input form-control" id="name-validate" type="text" name="name" placeholder="Nombre del Producto">
                    <span class="text-danger small" id="name-error"><%= locals.errors && errors.name ? errors.name.msg : null %> </span>
                </div>
                <div class="form-admin__box">
                    <input class="form-admin__input form-control" id="productPrice" type="number" name="price" id="price" placeholder="Precio del Producto">
                    <span class="text-danger small" id="price-error"><%= locals.errors && errors.price ? errors.price.msg : null %> </span>
                </div>
                <div class="form-admin__box">
                    <select class="form-admin__select form-control" id="product-status" name="sale">
                        <option class="fom-admin__option" value="" hidden="">Estado del producto</option>
                        <% status.forEach(stat => { %>
                            <option class="fom-admin__option" value="<%= stat.id %>" <%= locals.old && old.stat.name === stat.name ? 'selected' : null %> ><%= stat.name %> </option>
                        <% }) %>
                    </select>
                    <span class="text-danger small" id="status-error"><%= locals.errors && errors.sale ? errors.sale.msg : null %> </span>
                </div>
                
                <div class="form-admin__box">
                    <input class="form-admin__input form-control" id="product-discount" type="number" name="discount" id="discount" placeholder="Descuento del Producto" >
                </div>
                <div class="form-admin__box form-admin__box--active">
                    <select class="form-admin__select form-control" id="product-category" name="category" id="category">
                        <option class="fom-admin__option" value="" hidden="">Categoria</option>
                        <% categories.forEach(categoria => { %>
                            <option class="fom-admin__option" value="<%= categoria.id %>" <%= locals.old && old.categoria.name === categoria.name ? 'selected' : null %> ><%= categoria.name %> </option>
                        <% }) %>
                    </select>
                    <span class="text-danger small" id="category-error"><%= locals.errors && errors.category ? errors.category.msg : null %> </span>
                </div>

                <h2 class="title-description">Descripción Del Producto</h2>

                <div class="form-description">
                    <div class="form_desciption__box">
                        <input class="form-admin__select form-control" type="text" name="autor" id="product-autor" placeholder="Autor">
                        <span class="text-danger small" id="autor-error"><%= locals.errors && errors.autor ? errors.autor.msg : null %> </span>
                    </div>

                    <div class="form_desciption__box">
                        <input class="form-control" type="text" name="mecanica" id="product-mechanic" placeholder="Mecánica">
                        <span class="text-danger small" id="mechanic-error"><%= locals.errors && errors.mecanica ? errors.mecanica.msg : null %> </span>
                    </div>

                    <div class="form_desciption__box">
                        <input class="form-control" type="text" name="tematica" id="product-tematic" placeholder="Temática">
                        <span class="text-danger small" id="tematic-error"><%= locals.errors && errors.tematica ? errors.tematica.msg : null %> </span>
                    </div>
                    
                    <div class="form_desciption__box form_desciption__box--active">
                        <input class="form-control" type="text" name="editorial" id="product-publisher" placeholder="Editorial">
                        <span class="text-danger small" id="publisher-error"><%= locals.errors && errors.editorial ? errors.editorial.msg : null %> </span>
                    </div>

                    <div class="form_desciption__box">
                        <input class="form-control" type="text" name="tiempo" id="product-time" placeholder="Tiempo de juego">
                        <span class="text-danger small" id="time-error"><%= locals.errors && errors.tiempo ? errors.tiempo.msg : null %> </span>
                    </div>

                    <div class="form_desciption__box form_desciption__box--active">
                        <select class="form-control" name="complejidad" id="product-complexity">
                            <option value="" hidden="">Complejidad</option>
                            <% complexities.forEach(complexity => { %>
                            <option class="fom-admin__option" value="<%= complexity.id %>" <%= locals.old && old.complexity.name === complexity.name ? 'selected' : null %> ><%= complexity.name %> </option>
                            <% }) %>
                        </select>
                        <span class="text-danger small" id="complexity-error"><%= locals.errors && errors.complejidad ? errors.complejidad.msg : null %> </span>
                    </div>

                    <div class="form_desciption__box">
                        <select class="form-control" name="idioma" id="product-language">
                            <option value="" hidden="">idioma</option>
                            <% languages.forEach(language => { %>
                            <option class="fom-admin__option" value="<%= language.id %>" <%= locals.old && old.language.name === language.name ? 'selected' : null %> ><%= language.name %> </option>
                            <% }) %>
                        </select>
                        <span class="text-danger small" id="language-error"><%= locals.errors && errors.idioma ? errors.idioma.msg : null %> </span>
                    </div>

                    <div class="form-admin__box form-admin__box--active">
                        <input class="form-admin__input form-control" id="product-img" type="file" name="fileImage" placeholder="Imagen del Producto" accept="image/*" multiple>
                        <span class="text-danger small" id="img-error"></span>
                    </div>

                    <div class="form_desciption__box">
                        <input class="form-control" type="text" name="jugadores" id="product-player" placeholder="Núm. jugadores">
                        <span class="text-danger small" id="player-error"><%= locals.errors && errors.jugadores ? errors.jugadores.msg : null %> </span>
                    </div>

                    <div class="form_desciption__box form_desciption__box--active">
                        <input class="form-admin__input" id="product-sub-img-1" type="file" name="fileImage" placeholder="Imagen del Producto">
                    </div>
                    <div class="form_desciption__box form_desciption__box--active">
                        <input class="form-admin__input" id="product-sub-img-2" type="file" name="fileImage" placeholder="Imagen del Producto">
                    </div>
                    <div class="form_desciption__box form_desciption__box--active">
                        <input class="form-admin__input" id="product-sub-img-3" type="file" name="fileImage" placeholder="Imagen del Producto">
                    </div>

                    <div class="form_desciption__box form_desciption__box--active">
                        <textarea class="form-control" name="contenido" id="product-content" cols="30" rows="10"  placeholder="Contenido"></textarea>
                        <span class="text-danger small" id="content-error"></span>
                    </div>

                </div>
                <div class="create-button">
                    <button class="create-button__button" type="submit">Crear producto</button>
                </div>
            </div>
            
            <section class="img-product">
                <div class="img-product__container">
                    <img id="img-preview" class="img-product__img" src="/images/productos/default-image.jpg" alt="">
                </div>
                <div class="container-sub-img">
                    <div class="sub-img-product__container">
                        <img id="sub-img-preview-1" class="sub-img-product__img" src="/images/productos/default-image.jpg" alt="">
                    </div>
                    <div class="sub-img-product__container">
                        <img id="sub-img-preview-2" class="sub-img-product__img" src="/images/productos/default-image.jpg" alt="">
                    </div>
                    <div class="sub-img-product__container">
                        <img id="sub-img-preview-3" class="sub-img-product__img" src="/images/productos/default-image.jpg" alt="">
                    </div>
                </div>
            </section>
    
 
        </form>

       
    </main>

    <script src="/javascripts/productCreate.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>