<!DOCTYPE html>
<html>
<%- include("../partials/head", {title: "Editar"}) %> 
<body class="admin-edit">
    <%- include("./partials/header") %> 
    <main class="admin__container">
        <h2 class="admin__title">Editar "<%= product.name %> <%= product.category %>" </h2> 
        <form class="form-admin" action="products/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data"> 
                       
            <div class="form-admin__box">
                <label for="imagen" class="form-label">Cambiar imagen</label>
                  <input type="file" class="form-control" id="imagen" name="img-product" required>
            </div>

            <div class="form-admin__box">
                <label for="nombre" class="form-label">Nombre del producto</label>
                <input class="form-admin__input" type="text" id= "name" require name="name" value= "<%= product.name %>"placeholder="Nombre del Producto">
            </div>
           
            <div class="form-admin__box">
                <label for="precio" class="form-label">Precio</label>
                <input class="form-admin__input" type="number" name="price" id="price" required value="<%= product.price %>"placeholder="Precio del Producto">
            </div>

            <div class="form-admin__box">
                <select class="form-admin__select" name="sale" id="category">
                    <option class="fom-admin__option" value="true" hidden>Dato del Producto</option>
                    <option class="fom-admin__option" value="true">En Oferta</option>
                    <option class="fom-admin__option" value="false">Destacados</option>
                </select>
            </div>

            <div class="form-admin__box">
                <label for="discount" class="form-label">Descuento</label>
                <input class="form-admin__input" type="number" name="discount" id="discount" 
                value="<%= product.discount %>" placeholder="Descuento del Producto">
            </div>

            <div class="form-admin__box">
                <select class="form-admin__select" name="category" id="category">
                    <option class="fom-admin__option" value="true" hidden>Categoria</option>
                    <option class="fom-admin__option" value="mesa">Juegos de Mesa</option>
                    <option class="fom-admin__option" value="rol">Juego de Rol</option>
                    <option class="fom-admin__option" value="previa">Juego de Previa</option>
                </select>
            </div>
            <div class="create-button">
                <button class="edit-button__button" type="submit">Editar producto</button>
            </div>
        </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>