<%- include("../partials/head", {title: "Editar producto"}) %> 

<body class="admin-creation">
    <%- include("./partials/header") %> 
    <main class="admin__container">
        <h2 class="admin__title">Editar "<%= product.name %> <%= product.categories.name %>" </h2> 
        <form class="form-admin" action="/product/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">  

            <div class="form-admin__container">
                <div class="form-admin__box">
                    <input class="form-admin__input" type="text" name="name" placeholder="Nombre del Producto" value="<%= product.name %> ">
                    <span class="text-danger small"><%= locals.errors && errors.name ? errors.name.msg : null %> </span>
                </div>
                <div class="form-admin__box">
                    <input class="form-admin__input" type="number" name="price" id="price" placeholder="Precio del Producto" value= "<%= product.price %>">>
                    <span class="text-danger small"><%= locals.errors && errors.price ? errors.price.msg : null %> </span>
                </div>
                <div class="form-admin__box">
                    <select name="sale" id="">
                        <% status.forEach(item => { %>
                            <option <%= item.id === product.status.id ? 'selected' : null %>  value=<%= item.id %>><%= item.name %> </option>                             
                        <% }) %>                        
                    </select>
                </div>
                
                <div class="form-admin__box">
                    <input class="form-admin__input" type="number" name="discount" id="discount" placeholder="Descuento del Producto" value= "<%= product.discount %>">>
                </div>
                <div class="form-admin__box form-admin__box--active ">
                    <select name="category" id="">
                        <% categories.forEach(item => { %>
                            <option <%= item.id === product.categories.id ? 'selected' : null %>  value=<%= item.id %>><%= item.name %> </option>                             
                        <% }) %>                        
                    </select>
                </div>

                <h2 class="title-description">Descripción Del Producto</h2>

                <div class="form-description">
                    <div class="form_desciption__box">
                        <input type="text" name="autor" id="" placeholder="Autor" value= "<%= product.author %>">>
                        <span class="text-danger small"><%= locals.errors && errors.autor ? errors.autor.msg : null %> </span>
                    </div>

                    <div class="form_desciption__box">
                        <input type="text" name="mecanica" id="" placeholder="Mecánica" value= "<%= product.mechanic %>">                     
                        <span class="text-danger small"><%= locals.errors && errors.mecanica ? errors.mecanica.msg : null %> </span>
                    </div>

                    <div class="form_desciption__box">
                        <input type="text" name="tematica" id="" placeholder="Temática" value= "<%= product.thematic %>"> 
                        <span class="text-danger small"><%= locals.errors && errors.tematica ? errors.tematica.msg : null %> </span>
                    </div>
                    
                    <div class="form_desciption__box form_desciption__box--active">
                        <input type="text" name="editorial" id="" placeholder="Editorial" value= "<%= product.publisher %>"> 
                        <span class="text-danger small"><%= locals.errors && errors.editorial ? errors.editorial.msg : null %> </span>
                    </div>

                    <div class="form_desciption__box">
                        <input type="text" name="tiempo" id="" placeholder="Tiempo de juego" value= "<%= product.timeGame %>"> 
                        <span class="text-danger small"><%= locals.errors && errors.tiempo ? errors.tiempo.msg : null %> </span>
                    </div>

                    <div class="form_desciption__box form_desciption__box--active">
                        <select name="complejidad" id="">
                            <% complexities.forEach(item => { %>
                                <option <%= item.id === product.complexities.id ? 'selected' : null %>  value=<%= item.id %>><%= item.name %> </option>                             
                            <% }) %>                       
                        </select>
                    </div>

                    <div class="form_desciption__box">
                        <select name="idioma" id="">
                            <% languages.forEach(item => { %>
                                <option <%= item.id === product.languages.id ? 'selected' : null %>  value=<%= item.id %>><%= item.name %> </option>                             
                            <% }) %>                        
                        </select>
                    </div>

                    <div class="form-admin__box form-admin__box--active">
                        <input class="form-admin__input" type="file" name="fileImage" placeholder="Imagen del Producto" accept="image/*" multiple>
                    </div>
                    <div class="form_desciption__box">
                        <input type="text" name="jugadores" id="" placeholder="Núm. jugadores" value= "<%= product.player %>"> 
                        <span class="text-danger small"><%= locals.errors && errors.jugadores ? errors.jugadores.msg : null %> </span>
                    </div>

                   <!--  <div class="form_desciption__box form_desciption__box--active">
                        <input class="form-admin__input" type="file" name="fileImage" placeholder="Imagen del Producto">
                    </div>
                    <div class="form_desciption__box form_desciption__box--active">
                        <input class="form-admin__input" type="file" name="fileImage" placeholder="Imagen del Producto">
                    </div> -->

                    <div class="form_desciption__box">
                        <textarea name="contenido" id="" cols="30" rows="10"  placeholder="Contenido"><%= product.content %></textarea>
                    </div>

                </div>
                <div class="create-button">
                    <button class="create-button__button" type="submit">Editar producto</button>
                </div>
            </div>
            
            <section class="img-product">
                <div class="img-product__container">
                    <img class="img-product__img" src="/images/productos/<%= product.images[0].file %>" alt="">
                </div>
            </section>

        </form>

       
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>